<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    package="com.example.testfinal">

    <uses-permission android:name="android.permission.INTERNET"/>


    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.testfinal.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.testfinal.details"
            >
        </activity>
        <activity
            android:name="com.example.testfinal.details2"
            >
        </activity>
        <activity
            android:name="com.example.testfinal.login"
            android:label="@string/zc"
            >
        </activity>
        <activity
            android:name="com.example.testfinal.register"

            >
        </activity>
        <activity
            android:name="com.example.testfinal.shop"

            >
        </activity>
        <activity
            android:name="com.example.testfinal.talk"

            >
        </activity>
        <activity android:name=".ShangpinListActivity"/>
        <activity android:name=".AddShangpinActivity"/>

        <activity android:name=".ShangjiaListActivity"/>
        <activity android:name=".AddShangjiaActivity"/>

    </application>
</manifest>